body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    color: #57e0d5;
}

header {
    background-color: rgb(35, 29, 29);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.product-grid {
    background-image: url('img4.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
}

.product {
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
}

.cart-container {
    padding: 20px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

#checkout-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #218838;
}
